.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
      width: 80%;
    }
  }

  .action-panel {
    width: 80%;
    text-align: right;

    .add-constellation {
      margin-left: 10px;
    }
  }

  .list-stars {
    color: white;
  }
}

